# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
awqati/dist
awqati/tmp
awqati/out-tsc

# dependencies
awqati/node_modules

# IDEs and editors
awqati/.idea
awqati/.project
awqati/.classpath
awqati/.c9/
awqati/*.launch
awqati/.settings/
awqati/*.sublime-workspace

# IDE - VSCode
awqati/.vscode/*
awqati/!.vscode/settings.json
awqati/!.vscode/tasks.json
awqati/!.vscode/launch.json
awqati/!.vscode/extensions.json

# misc
awqati/.sass-cache
awqati/connect.lock
awqati/coverage
awqati/libpeerconnection.log
awqati/npm-debug.log
awqati/testem.log
awqati/typings

# e2e
awqati/e2e/*.js
awqati/e2e/*.map

# System Files
awqati/.DS_Store
awqati/Thumbs.db
